/*** Demo 1 - Guess the Number ***/

/* Slider */
.user-slider {
	margin-top: 10px;
}

#demo1-hint p {
	font-style: italic;
}

/* Controls */
#demo1-controls {
	text-align: center;
}

#demo1-reset {
	margin-left: 10px;
}

#demo1-graph {
	height: 300px;
	margin-bottom: 20px;
}

/* Miscellaneous */

.intro-header {
    background-color: #f1b324;
    /*background-color: #dddeff;*/
}

.intro-message {
    position: relative;
    padding-top: 5%;
}

.content-section-b {
	/*background: #fdfd96;*/
}

/* center hr within about section */
.center {
	float: none;
}

.more {
	display: none;
}

.more img {
	width: 75%;
}

p, small {
	font-weight: 400;
}
