/*** Demo 1 - Guess the Number ***/

/* Slider */
.user-slider {
	margin-top: 10px;
}

#demo1-hint p {
	font-weight: 400;
	font-style: italic;
}

/* Controls */
#demo1-controls {
	text-align: center;
}

#demo1-reset {
	margin-left: 10px;
	font-weight: 400;
}

#demo1-graph {
	height: 300px;
	margin-bottom: 20px;
}

/* Miscellaneous */

.intro-header {
    background-color: #f1b324;
}

.intro-message {
    position: relative;
    padding-top: 5%;
}
